<mat-toolbar color="primary">
  <span>Woodland Warriors Games</span>
</mat-toolbar>

<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="filter-container">
  <div class="filter-select">
    <div>
      <mat-label>Factions</mat-label>
    <mat-form-field>
      <mat-label>Only show games with...</mat-label>
      <mat-select multiple #includeFactions>
        <ng-container *ngFor="let faction of headers">
          <mat-option [value]="faction">
            {{ faction }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Exclude games with...</mat-label>
      <mat-select multiple #excludeFactions>
        <ng-container *ngFor="let faction of headers">
          <mat-option [value]="faction">
            {{ faction }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div>    
    <mat-label>Winner</mat-label>
    <mat-form-field>
      <mat-label>Won by...</mat-label>
      <mat-select #winningFaction>
        <mat-option>[Any]</mat-option>
        <ng-container *ngFor="let faction of headers">
          <mat-option [value]="faction">
            {{ faction }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Win type...</mat-label>
      <mat-select #winType>
        <mat-option>[Any]</mat-option>
        <ng-container *ngFor="let winType of winTypes">
          <mat-option [value]="winType">
            {{ winType }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    </div>    

    <button class="filter-button" mat-raised-button color="primary" (click)="updateFilters(includeFactions, excludeFactions, winningFaction, winType)">Add Filter</button>

  </div>
</div>

<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading">
  
    <ng-container [matColumnDef]="header" *ngFor="let header of headers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ header }}<br>{{ wins[header] }}/{{ winPercents[header] }}%</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[header] }}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="headers; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headers;"></mat-row>
    
  </mat-table>
</div>

<mat-paginator [length]="currentDataSet.length" [pageSize]="25" (page)="changePage($event)"></mat-paginator>